@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');

header {
  width: 100%;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

main {
  width: 100%;
  height: 200vh;
  text-align: center;
}

h1 {
  font-size: 8vw;
  font-weight: 800;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), 0 0 1em rgba(0, 0, 0, 0.5);
  margin-block-start: 80vh;
}

h2 {
  font-size: 2rem;
  margin-top: 5rem;
  padding: 0;
}

.parallax {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-areas: 'stack';
}

.parallax > * {
  grid-area: stack;
  animation-name: parallax;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 200px));
  }
}

.parallax_bg {
  --parallax-speed: 0;
  z-index: 1;
}

.parallax_jax {
  --parallax-speed: -10;
  z-index: 2;
}

.parallax_text {
  --parallax-speed: -20;
  z-index: 3;
}
